@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  :root {
    --background: 48 33% 94%; /* pale */
    --foreground: 216 33% 20%; /* off navy */
    --card: 48 33% 96%;
    --card-foreground: 216 33% 20%;
    --popover: 48 33% 96%;
    --popover-foreground: 216 33% 20%;
    --primary: 45 88% 55%; /* gold */
    --primary-foreground: 216 33% 15%;
    --secondary: 35 15% 75%; /* rough */
    --secondary-foreground: 216 33% 15%;
    --muted: 35 15% 85%;
    --muted-foreground: 216 33% 40%;
    --accent: 45 88% 65%; /* lighter gold */
    --accent-foreground: 216 33% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 33% 88%;
    --input: 48 33% 98%;
    --ring: 45 88% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 216 33% 5%;
    --foreground: 48 33% 94%; /* pale */
    --card: 216 33% 12%;
    --card-foreground: 48 33% 94%;
    --popover: 216 33% 12%;
    --popover-foreground: 48 33% 94%;
    --primary: 45 88% 55%; /* gold */
    --primary-foreground: 216 33% 10%;
    --secondary: 216 33% 18%; /* rough */
    --secondary-foreground: 48 33% 94%;
    --muted: 216 33% 18%;
    --muted-foreground: 48 33% 70%;
    --accent: 45 88% 65%; /* lighter gold */
    --accent-foreground: 216 33% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 33% 20%;
    --input: 216 33% 18%;
    --ring: 45 88% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    background: linear-gradient(
      -45deg,
      hsl(var(--primary)),
      hsl(216 33% 5%),
      hsl(45 88% 55%)
    );
    background-size: 400% 400%;
    animation: move-bg 15s ease infinite;
  }
}
